.work {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.work-list {
  display: flex;
  flex: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 28px 0px;
}
